* {
    font-family: Arial, Helvetica;
    background-color: #ff5959;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #f59f00;
}

a:hover {
    text-decoration: none;
    color: #f59f00;
}

a:visited {
    text-decoration: none;
    color: #e4ba02;
}